.intro-content {
  text-align: center;
}

.intro-icon {
  height: 40vmin;
  pointer-events: none;
}

.intro-content-title {
  min-width: 100vw;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: calc(15px + 3vmin);
  color: white;
  z-index: 99;
}
.name {
  font-weight: 500;
}
.secondary-color {
  color: #e3146e;
}
.social-icons {
  margin-top: 20px;
  font-size: 25px;
}
.icon {
  padding-right: 10px;
  cursor: pointer;
}
.no-link {
  color: #d1d1d180;
  text-decoration: none;
}
#particle-canvas {
  width: 100%;
  height: 100%;
}
#content-add {
  font-size:25px;
  z-index:9999;
  position:absolute;
  top:50%;
  color:red;
  bottom:0;
  margin:0 auto;
  text-align:center;
  left:0;
  right:0;
}